<div class="container-fluid quicksand-font mt--6">
    <div class="row">
        <div class="col">
            <!-- Datatable -->
            <div class="card">
                <!-- Card header -->
                <div class="card-header position-relative d-flex py-3 px-5 justify-content-between align-items-center flex-wrap">
                    <h3 class="mb-0">Recompensas</h3>
                    <i class="fas fa-times-circle"></i>
                </div>

                <div class="container-fluid my-4">
                    <ul class="nav nav-tabs" id="kidrec" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="disponibles-tab" data-toggle="tab" href="#disponibles" (click)="cargarRecompensas(false);" role="tab" aria-controls="disponibles" aria-selected="true">Disponibles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="compradas-tab" data-toggle="tab" href="#compradas" (click)="cargarRecompensas(true);" role="tab" aria-controls="compradas" aria-selected="false">Compradas</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="kidrecContent">
                        <!-- Contenido Disponibles-->
                        <div class="tab-pane fade show active" id="disponibles" role="tabpanel" aria-labelledby="disponibles-tab">

                            <div class="table-responsive py-4">
                                <table class="table table-flush">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Recompensa</th>
                                            <th>Puntos</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody class="medium-font">
                                        <tr *ngFor="let recompensa of listaRecompensas" class="fondo-claro">
                                            <td style="vertical-align:middle;">
                                                <p>{{recompensa.nombre}}</p>
                                            </td>
                                            <td style="vertical-align:middle;">
                                                <p>{{recompensa.puntos}} <i class="fas fa-circle"></i></p>
                                            </td>
                                            <td class="prog-cont" style="vertical-align:middle;">
                                                <progress *ngIf="recompensa.canjeable" class="rec-prog completo" value={{perfil.puntos_ganados}} max={{recompensa.puntos}}></progress>
                                                <progress *ngIf="!recompensa.canjeable" class="rec-prog incompleto" value={{perfil.puntos_ganados}} max={{recompensa.puntos}}></progress>
                                                <p *ngIf="!recompensa.canjeable">¡Te faltan {{recompensa.puntos - perfil.puntos_ganados}} puntos!</p>
                                            </td>
                                            <td style="vertical-align:middle;">
                                                <p *ngIf="!recompensa.canjeable">Completa {{recompensa.dias}} días y consigue la recompensa</p>
                                                <p *ngIf="recompensa.canjeable">¡Ya puedes comprar esta recompensa!</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <!-- Contenido Compradas -->
                        <div class="tab-pane fade" id="compradas" role="tabpanel" aria-labelledby="compradas-tab">
                            <div class="table-responsive py-4">
                                <table class="table table-flush">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Recompensa</th>
                                            <th>Puntos</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let recompensa of listaRecompensas" class="fondo-claro">
                                            <td style="vertical-align:middle;">
                                                <p>{{recompensa.nombre}}</p>
                                            </td>
                                            <td style="vertical-align:middle;">
                                                <p>{{recompensa.puntos}} <i class="fas fa-circle"></i></p>
                                            </td>
                                            <td class="prog-cont" style="vertical-align:middle;">
                                                <p>¡Conseguida!</p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
